@font-face {
  font-family: 'GalacticIndifference-Regular';
  src: url("../fonts/GlacialIndifference-Regular.otf"); }

@font-face {
  font-family: 'GalacticIndifference-Italic';
  src: url("../fonts/GlacialIndifference-Italic.otf"); }

@font-face {
  font-family: 'GalacticIndifference-Bold';
  src: url("../fonts/GlacialIndifference-Bold.otf"); }
